:root {
  /* colors */
  --my_black: #474a51;
  --my_background: #cbc9c94d;
  --my_lazur_v2: #3dd4e1;
  --my_orange: #fc7900;
  --my_lite_grey: #6766669c;
  --error: #df2727;
  --main_blue_1: #2196f3;
  --my_white: rgba(255, 255, 255, 0.918);
  /* font-size */
  --f0: calc(0.3vh + 12px);
  --f1: calc(0.5vh + 11px);
  --f2: calc(0.7vh + 13px);
  --f6: calc(1.5vh + 20px);
}
